---
import { Image } from 'astro:assets';

interface CodeSnippet {
  title: string;
  code: string;
  image?: string; // Agregada la propiedad image
}

interface Project {
  title: string;
  description: string;
  details: string;
  image: string;
  technologies: string[];
  additionalImages?: string[];
  codeSnippets?: CodeSnippet[];
  downloadLinks?: {
    pdf: string;
    ipynb: string;
  };
  links: {
    demo: string;
    github: string;
  };
}

const { project } = Astro.props as { project: Project };
---

<section id="project-details" class="project-details">
  <div class="back-button">
    <a href="javascript:history.back()" class="btn btn-secondary">Atrás</a>
  </div>
  <div class="container">
    {project ? (
      <>
        <h2 class="section-title">{project.title}</h2>
        <div class="project-details-content">
          <div class="project-image">
            <Image 
              src={`/project/${project.image}.jpg`} 
              alt={project.title} 
              width={600} 
              height={400}
              class="project-img"
              loading="eager"
            />
          </div>
          <div class="project-info">
            <h3>Descripción</h3>
            <p>{project.description}</p>

            <h3>Detalles</h3>
            <p>{project.details}</p>

            <h3>Tecnologías Utilizadas</h3>
            <div class="project-technologies">
              {project.technologies.map((tech: string) => (
                <span class="technology">{tech}</span>
              ))}
            </div>
{/* Alternar Snippets de Código e Imágenes Adicionales */}
{project.codeSnippets && project.codeSnippets.length > 0 && (
  <>
    <h3>Detalles Técnicos</h3>
    <div class="technical-details">
      {project.codeSnippets.map((snippet, index) => (
        <div key={index} class="code-snippet">
          <h4>{snippet.title}</h4>
          <pre>
            <code>{snippet.code}</code>
          </pre>
          {snippet.image && (
            <div class="additional-image-container">
              <Image
                src={`/project/${snippet.image}`}
                alt={`Imagen técnica - ${snippet.title}`}
                class="additional-image"
                width={600}
                height={400}
                loading="lazy"
              />
            </div>
          )}
        </div>
      ))}
    </div>
  </>
)}

            {/* Mostrar enlaces de descarga */}
            {project.downloadLinks && (
              <>
                <h3>Descargas</h3>
                <div class="download-links">
                  <a href={project.downloadLinks.pdf} class="btn btn-primary" download>
                    Descargar PDF
                  </a>
                  <a href={project.downloadLinks.ipynb} class="btn btn-outline" download>
                    Descargar IPython Notebook
                  </a>
                </div>
              </>
            )}

            <div class="project-links">
              <a href={project.links.demo} class="btn btn-primary">Ver Demo</a>
              <a href={project.links.github} class="btn btn-outline">Ver en GitHub</a>
            </div>
          </div>
        </div>
      </>
    ) : (
      <p>Proyecto no encontrado.</p>
    )}
  </div>
</section>
